<!DOCTYPE html>
<html>
<head>
	<script src="bootstrap.min.css"></script>
	<title>Top 10 Hashtags</title>
</head>
<body> 
<h2 class="page-header"><u>TOP 10 HASHTAGS</u></h2>
{% for key in hash1 %}
<h3 style="font-family:Arial">#{{ key }}</h2>
{% endfor %}

<script type="text/javascript">
</script>
</body>
</html>