<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
 <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.tweets }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>

    <h1>My Webpage</h1>
    {{ a_variable }}
</body>
</html>