<!DOCTYPE html>
<html>
<link rel="stylesheet" media="screen" type="text/css" href="{{url_for('static',filename='bootstrap.min.css')}}">
<meta name="viewport" content = "width=device-width, initial-scale=1.0">
<head>
	<title>Precog Summer 2017</title>
</head>
<body class="body" >
  <div class="page-header" style="background-color:yellow">
    <h1 style="text-align:center;color:blue">Precog @Summer 2k17</h1><br>
    <p style="text-align:center">Curated 13,210 Tweets from Twitter Using Streaming API and Here I have come with the following four analytic conclusions.</p>
  </div>
<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">bjbbnbn</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="btn btn-center active block" href="/tweets" style="margin:10px">Tweet-Retweet Ratio</a>
      <a class="btn btn-center active block" href="/popular">Popularity</a>
      <a class="btn btn-center active block" href="/type">Type of Tweets</a>
      <a class="btn btn-center active block" href="/hashtags">Top 10 HashTags</a>
	</div>
</div>
<br>
<div>
<img style="margin-left:200px" src="https://de.usembassy.gov/wp-content/uploads/sites/21/2016/03/elec_sem_750x450-1.jpg"></div>
</nav>



</div>
</nav>
</body>
</html>