<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var t1 = {{usrmh}} 
      var t2 = {{usrmt}}
      var t3 = ((t1)/(t1+t2))*100
      var t4 = ((t2)/(t1+t2))*100
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        
        var data = google.visualization.arrayToDataTable([
          ['Personalities', 'Popularity'],
          ['Hillary Clinton',   t3],
          ['Donald Trump',    t4]
        ]);

        var options = {
          title: 'Who is More Popular?'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>
