<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['DAYS', 'Total Tweets', 'Original Tweets','Retweets'],
          ['DAY 1(31 OCT)', {{tt1}},{{rt1}} ,{{twt1}}],
          ['DAY 2(1 NOV)', {{tt2}}, {{rt2}},{{twt2}}],
          ['DAY 3(2 NOV)', {{tt3}}, {{rt3}},{{twt3}}],
          ['DAY 4(3 NOV)', {{tt4}}, {{rt4}} ,{{twt4}} ],
          ['DAY 5(4 NOV)',{{tt5}},{{rt5}},{{twt5}} ],
          ['Total Curreted',{{tt}},{{rt}},{{twt}}]
        ]);

        var options = {
          chart: {
            title: 'Tweet v/s Retweet',
            subtitle: 'Tweet, Retweet: 5 Days',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="columnchart_material" style="width: 900px; height: 500px;"></div>
  </body>
</html>