<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      var t1 = {{type1}} 
      var t2 = {{type2}}
      var t3 = ((t1)/(t1+t2))*100
      var t4 = ((t2)/(t1+t2))*100
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        
        var data = google.visualization.arrayToDataTable([
          ['Type of Tweet', 'Ratio'],
          ['Media Tweets',   t3],
          ['Text Tweets',    t4]
        ]);

        var options = {
          title: 'Type of Tweet Distribution?'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);


      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>
